gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Arquivos de segredos e chaves (MUITO IMPORTANTE)
*.jks
*.keystore
*.p12
*.key
android/key.properties
ios/Runner/sentinel
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Configurações locais do SDK (evita erros de "caminho não encontrado" em outros PCs)
android/local.properties

# Variáveis de ambiente (se você usar chaves de API no futuro)
.env*

# Caches de ferramentas e sistemas operacionais
.toolchain/
Thumbs.db